extends ../layouts/admin.pug

block content
  if error
    div= error

  frames.length
  if frames
    if frames.length
      ul
        each frame in frames
          li
            a(href=`/admin/frames/${frame.ref}`)
              img(src=`/api/models/${frame.ref}/${frame.ref}.png`, alt=`Monture ${frame.name}`, title=`${frame.name}`)
              span #{frame.name}
    else
      h2 Aucun modèle à afficher